* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  background: linear-gradient(220deg, #3A3D40, #5C5757, #738598, #8A9597, #A7B6C2, #C3CCD6, #E1E4E9,  #3A3D40, #5C5757, #738598, #8A9597, #A7B6C2, #C3CCD6, #E1E4E9);
  animation: fadeInAnimation 10s ease-in-out infinite;
  background-size: 200% 200%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(220deg,  #2C3E50, #34495E, #5D6D7E, #85929E, #AAB7B8, #BCC1C3, #D5D8DC, #2C3E50, #34495E, #5D6D7E, #85929E, #AAB7B8, #BCC1C3, #D5D8DC);
  animation: fadeInAnimation 10s ease-in-out infinite;
  background-size: 200% 200%;
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

@keyframes fadeInAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 50px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  transition: background 0.3s, box-shadow 0.3s;
}

.search input:focus {
  background: #d1f7f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button {
  border: 0;
  outline: 0;
  background: #49494b00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.search button:hover {
  background: #3c3c4100;
  transform: rotate(20deg);
}

.search button img {
  width: 50px;
  background-size: cover;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin: 10px 0;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
